* {
    box-sizing: border-box;
    /* background-color: #333; */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Create 2 equal colums */
.column {
    float: left;
    width: 50%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



#blocklyDiv{
    height: 480px;
    width: 500;
}

@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}
/* 
layout */ */
.nav {
  overflow: hidden;
  background-color: black;
}

.nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover {
  background-color: red;
  color: black;
}

.nav a.active {
  background-color: yellow;
  color: black;
}

.code-block {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  padding: 10px 10px;
  width: fit-content;
  height: max-content;
}

.code-block:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.grid-container {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  background-color: #333;
  padding: 20px;
  height: 500px;
  width: 500px;
}

.grid-con{
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  background-color: #333;
  padding: 20px;
  height: 500px;
  width: 900px;
  position: relative; left: 400px;
}
.grid-part {
  background-color: #10A5F5;
  border: 1px solid #10A5F5;
  padding: 0px;
}

.button1 {
  border: none;
  color: yellow;
  padding: 15px 56px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #333;
  border-radius: 20%;
  position: relative; left: 350px; bottom: 100px;
  /* outline-color:red;
  outline-style: dashed; */
}

.button {
    border: none;
    color: black;
    padding: 15px 56px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:  red;
  position: relative; left: 400px;  bottom: 100px;
  border-radius: 20%;
  width: fit-content;
  }

.h4 {
  color: white;
}



/* stars  */
.filled {
  color: orange;
 
}
.starScream {
  position: relative; bottom: 600px;
  margin-top: auto;
}

.con {
  position: relative;
  text-align: center;
  color: white;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span  for small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }

  .cen {
    align-content: center;
    align-self: start;
    align-items: center;
    justify-content: center;
  }
}