body {
    font-family: Arial, sans-serif;
}

.map {
    border-style: solid;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

tt {
    float: left;
}

.color--1 {
    color: black;
}

.color-0 {
    color: grey;
}

.color-1 {
    color: red;
}

.color-2 {
    color: yellow;
}

.color-3 {
    color: orange;
}

.color-4 {
    color: blue;
}

.color-5 {
    color: purple;
}

.color-6 {
    color: green;
}

.color-7 {
    color: brown;
}